/**
 * Icons.
 */
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v36/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons {
    font-size: 18px;
    vertical-align: text-bottom;
}

.menu > * {
    display: inline-block;
}

.menu > * + * {
    margin-left: 15px;
}

.button {
    color: #ccc;
    cursor: pointer;
}

.button[data-active='true'] {
    color: black;
}

.toolbar-menu {
    text-align: center;
}

.toolbar-menu .search {
    position: relative;
}

.toolbar-menu .search-icon {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    color: #ccc;
}

.toolbar-menu .search-box {
    padding-left: 2em;
    width: 100%;
}

.hover-menu {
    padding: 8px 7px 6px;
    position: absolute;
    z-index: 1;
    top: -10000px;
    left: -10000px;
    margin-top: -6px;
    opacity: 0;
    background-color: #222;
    border-radius: 4px;
    transition: opacity 0.75s;
}

.hover-menu .button {
    color: #aaa;
}

.hover-menu .button[data-active='true'] {
    color: #fff;
}