input {
  box-sizing: border-box;
  font-size: 0.85em;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input:focus {
  outline: 0;
  border-color: blue;
}


.ant-tabs-bar {
  margin: 0;
}

.ant-tabs-tabpane {
  text-align: left;
  height: 40px;
  line-height: 40px;
}

.ant-tabs-extra-content {
  margin-right: 10px;
}